/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2017, 3:47:14 PM
    Author     : HP
*/

.page-header .header.panel, .page-header .panel.wrapper{
    border: 0;
    margin-bottom: 0;
    background: #3d465a;
    color: #ffffff;
}

.page-header{
    margin-top: 0;
    
}

.navigation, .page-header, .nav-sections,
.page-footer{
    background: #3d465a;
} 

a:visited, .alink:visited,
.navigation .level0 > .level-top ,
a, .alink {
    color: #ffffff;
}

.block-search .control{
    background: #ffffff;
}

#hot h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #4fbfa8;
  font-weight: 100;
  text-align: center;
}
#hot .product-slider {
  margin-bottom: 20px;
}
#hot .product-slider:before,
#hot .product-slider:after {
  content: " ";
  display: table;
}
#hot .product-slider:after {
  clear: both;
}
#hot .product-slider .item {
  margin: 0 25px;
  visibility: hidden;
}
#hot .product-slider .owl-controls {
  position: relative;
  top: -30px;
}
#hot .product-slider .owl-controls .owl-buttons {
  display: none;
}
#hot .product-slider .owl-controls .owl-page.active span,
#hot .product-slider .owl-controls.clickable .owl-page:hover span {
  background: #4fbfa8;
}


  #content .product .flip-container img.img-responsive {
    min-width: 100%;
  }

#content .product .flip-container,
#content .product .front,
#content .product .back {
  width: 100%;
}
#content .product .flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
#content .product .front,
#content .product .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#content .product .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#content .product .back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#content .product:hover .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
#content .product:hover .front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}
#content .product .invisible {
  visibility: hidden;
}